:root {
  /* Primary Brand  */
  --iris: #4d5ae5;

  /* Pressed state */
  --ocean: #404bbf;

  /* Dark */
  --navy-blue: #2e2f42;

  /* Text */
  --slate: #434455;

  /* Subtle Text*/
  --light-slate: #8e8f99;

  /* Accent */
  --cornflower: #e7e9fc;

  /* Light */
  --cloud: #f4f4fd;

  /* Modal overlay */
  --navy-blue-modal: #2e2f42;

  /* background  */
  --white-color: #ffffff;
}

body {
  background-color: var(--white-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
/* ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/*---- 
* {
  list-style: none;
  text-decoration: none;
} 
-----*/
/* --------------------_logo_----------------- */
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--iris);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.logo-studio {
  text-decoration: none;
  color: var(--navy-blue);
}
.logo-footer {
  font-size: 18px;
  line-height: 1.17;
  color: var(--cloud);
}

/* -----------------header section */
.site-nav {
  list-style: none;
}
.link-menu {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--navy-blue);
  text-decoration: none;
}
.link-menu:hover,
.link-menu:focus {
  color: var(--ocean);
}
.add-nav {
  font-style: normal;
}
.add-menu {
  list-style: none;
}
.contact {
  color: var(--slate);
  text-decoration: none;
}
.contact:hover,
.contact:focus {
  color: var(--ocean);
}

/* --------------------body section */
.hero-section {
  background: var(--navy-blue);
}
/* -------about */
.about-menu {
  list-style: none;
}

.team-section {
  background: var(--cloud);
}

/* ---------------------footer section */
.footer-section {
  background: var(--navy-blue);
}
.foot-info {
  color: var(--cornflower);
}

/*--------------- h1-h3, p setting */
.hi-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: var(--white-color);
  letter-spacing: 0.02em;
}
.hii-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--navy-blue);
}
.h-hide {
  display: none;
}
.hiii-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 0.83;
  color: var(--navy-blue);
}
.p-title {
  color: var(--slate);
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-color);
  background: var(--iris);
  border: 1px solid var(--cornflower);
  letter-spacing: 0.04em;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  color: var(--white-color);
  background: var(--ocean);
}
