:root {
  /* Primary Brand  */
  --iris: #4d5ae5;

  /* Pressed state */
  --ocean: #404bbf;

  /* Dark */
  --navy-blue: #2e2f42;

  /* Text */
  --slate: #434455;

  /* Subtle Text*/
  --light-slate: #8e8f99;

  /* Accent */
  --cornflower: #e7e9fc;

  /* Light */
  --cloud: #f4f4fd;

  /* Modal overlay */
  --navy-blue-modal: #2e2f42;

  /* background  */
  --white-color: #ffffff;
}

body {
  background-color: var(--white-color);
  font-family: "Roboto";
  font-style: normal;
  letter-spacing: 0.02em;
  color: var(--slate);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: var(--navy-blue);
}
.logo-web {
  color: var(--iris);
}
.site-nav .link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.link:hover,
.link:focus {
  color: var(--ocean);
}

/* h1-h3, p setting */

.h1-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  color: var(--white-color);
}
.h2-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: var(--navy-blue);
}
.h3-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--navy-blue);
}
.p-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--slate);
}
.hero-section {
  background: var(--navy-blue);
}
.btn {
  background: var(--cloud);
  border: 1px solid var(--cornflower);
  border-radius: 4px;
}
.btn.active {
  color: var(--white-color);
  background: var(--ocean);
}
.btn.rest {
  color: var(--iris);
}
